<%- include ("../partials/header.ejs") %> 
<%- include ("../partials/navbar.ejs")
%>
<style>
  div {
    max-width: 300px;
  }
  .text-input{
  width:100px
}
</style>
<div class="container" align="center" on>
  <hr />
  <div class="card mt-5" style="max-width: 100">
    <div class="card-header">
      <h2>Criação de Usuário</h2>
    </div>
    <div class="card-body">
      <form action="/cliente/addsenha" method="POST">
        <label>Nome</label>
        <input class="form-control" name="nome" type="text" placeholder="Digite seu nome" required /><br />
        <label>Email</label>
        <input class="form-control" name="email" type="email" placeholder="Digite seu email" required /><br />
<!--        <label>Telefone</label>
        <input class="form-control" name="telefone" type="text" placeholder="Digite seu telefone"/><br />
       
        <label>Digite seu CPF:</label>
		<input class="form-control" type="text" name="cpf" \ pattern="\d{3}\.\d{3}\.\d{3}-\d{2}" \ title="Digite um CPF no formato: xxx.xxx.xxx-xx">
-->       
        <label>Senha</label>
        <input class="form-control" name="senha" type="password" placeholder="Digite sua senha" required/><br/>

        <button type="submit" class="btn btn-success btn-block" size="5">Criar</button>
      </form>
    </div>
  </div>
</div>
<%- include ("../partials/footer.ejs") %>
